.table1{
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 300px;
  

}

.text{
    text-decoration: none;
}


.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:300px;
    height:300px;
    margin-left: auto;
   
    border-radius: 10px;

}